body{
    background: #ffece5;
    font-family: Verdana;
}
.new-user{
    background: #fff;
    padding: 20px 40px;
    max-width: 250px;
    margin: 0 auto ;
}
h2{
    color: #555;
}
label,input{
    display: block;
    margin: 20px 0;
}
label{
    color: #777;
}
input {
    width:100%;
}
input, textarea {
    font-family:inherit;
    font-size: inherit;
}
input[type='submit']{
    margin: 24px auto;
    font-size: 18px;
    background: rgb(25, 105, 5);
    color: #fff;
    padding: 6px 16px;
    border: none;
    border-radius: 10px;
} 
.error{
    color: coral;
}